/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------- CSS RESET DONE ------------------------------------------------------------------*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

/*-------------------------------------------- MEDIA SCREEN MOBILE ------------------------------------------*/
@media screen and (min-width: 380px){

    .logoimage {
        display:block;
        border: 0;
        margin: 0;
    }
    .totalnav{
        display: flex;
        width: 90%;
    }

    .navbar{
        flex-grow: 5;
        display: flex;
    }

    .imageone{
        width: 400px;
        height: 100px;
    }

    .navbar ul li {
        display: inline;
        text-decoration: none;
        list-style: none;
        text-align: center;
    }

    .navbar {
        margin-top: 3rem;
    }

    li{
        margin-left: 5rem;
        width: 100%;
    }

    .headercontainer {
        display: block;
    }



    /*--------------------------- MAIN --------------------------------------*/
    p, h2{
        margin: 1rem;
    }

    p{
        font-size: 0.8rem;
    }
    h2{
        padding-top: 1rem;
        font-size: 1rem;
    }
     /*------------FORM STUFF------------*/
     .formname{
        margin: 1em;
    }

    .formname input{
        width: 100%;
    }
    

    .formemail{
        margin: 1em;
    }

    .formemail input{
        width: 100%;
    }
    
    .formmessage{
        margin: 1em;
    }
    textarea{
        width: 100%;
        height: 5rem;
        margin-bottom: 2rem;
        

    }

    form{
        border: black solid;
        margin: 1em;
        margin-top: 2em
    }

    /*--------------------------- FOOTER ---------------------*/
    footer{
        display: flex;
        justify-content: space-between;
        background: grey;
    }

    .bottomnav {
        display: inline;
        text-decoration: none;
        list-style: none;
        text-align: center;
        margin-top: 1rem;
    }
}

/*-------------------------------------------- MEDIA SCREEN TABLET------------------------------------------*/
@media screen and (min-width: 500px){
    
    .logoimage {
        display:block;
        border: 0;
        margin: 0;
    }
    .totalnav{
        display: flex;
        width: 90%;
    }

    .navbar{
        flex-grow: 2;
        display: flex;
    }

    .imageone{
        width: 400px;
        height: 100px;
    }

    .navbar ul li {
        display: inline;
        text-decoration: none;
        list-style: none;
        text-align: center;
    }
    ul li a{
        text-decoration: none;
        color: #000;
    }
    .navbar {
        margin-top: 3rem;
    }

    li{
        margin-left: 1rem;
        width: 100%;
    }

    .headercontainer {
        display: block;
    }

    
    /*--------------------------- MAIN --------------------------------------*/

    /*------------FORM STUFF------------*/
    .formname{
        margin: 1em;
    }

    .formname input{
        width: 100%;
    }
    

    .formemail{
        margin: 1em;
    }

    .formemail input{
        width: 100%;
    }
    
    .formmessage{
        margin: 1em;
    }
    textarea{
        width: 100%;
        height: 5rem;
        margin-bottom: 2rem;
    }

    form{
        border: black solid;
        margin: 1em;
        margin-top: 2em;
        margin-bottom: 2rem;
    }

    p, h2{
        margin-bottom: 1rem;
    }

    h2{
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    /*--------------------------- FOOTER ---------------------*/
    footer{
        display: flex;
        justify-content: space-between;
        background: grey;
    }

    .bottomnav {
        display: inline;
        text-decoration: none;
        list-style: none;
        text-align: center;
        margin-top: 1rem;
    }
}


/*----------------------------------------------------- MEDIA QUERY DESKTOP -------------------------------------------*/

@media screen and (min-width: 920px){
    
    .logoimage {
        display:block;
        border: 0;
        margin: 0;
        width: 50%;
    }
    .totalnav{
        display: flex;
        width: 90%;
    }

    .navbar{
        flex-grow: 2;
        display: flex;
    }

    .imageone{
        width: 50%;
        
    }

    .navbar ul li {
        display: inline;
        text-decoration: none;
        list-style: none;
        text-align: center;

    }

    .navbar {
        margin-top: 3rem;
    }

    li{
        margin-left: 1rem;
        width: 100%;
    }

    .headercontainer {
        display: block;
    }




    /*--------------------------- MAIN --------------------------------------*/

    p{
        margin: 1em;
    }

    h2{
        font-size: 1.5rem;
        margin-bottom: 1em;
    }



    /*------------FORM STUFF------------*/
    .formname{
        margin: 1em;
    }

    .formname input{
        width: 100%;
    }
    

    .formemail{
        margin: 1em;
    }

    .formemail input{
        width: 100%;
    }
    
    .formmessage{
        margin: 1em;
    }
    textarea{
        width: 100%;
        height: 5rem
    }

    form{
        border: black solid;
        margin: 1em;
        margin-top: 2em
    }

    /*--------------------------- FOOTER ---------------------*/
    footer{
        display: flex;
        justify-content: space-between;
        background: grey;
    }

    .bottomnav {
        display: inline;
        text-decoration: none;
        list-style: none;
        text-align: center;
        margin-top: 1rem;
    }
}